@{
    ViewBag.Title = "Sales";
}
<h2>Record of Sales</h2>

<h3>Total Income: @ViewData["total"] €</h3>

<table class="table">
    <tr>
        <th>
            <a href="byID.cshtml" target="iframe">Sale ID</a>
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            <a href="byQuantity.cshtml" target="iframe">Quantity of Albums</a>
        </th>
        <th>
            <a href="byIncome.cshtml" target="iframe">Income</a>
        </th>
    </tr>

    @{
        foreach (var item in ViewData["summaries"] as IEnumerable<IDEIMusic.Models.SaleSummary>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Income) €
                </td>
            </tr>
        }
    }
</table>

